{% extends "skeleton.html" %}

{% block content -%}
    <div class="row column">
        <div class="v-space-short">
            <h1 class="title-2 text-upper text-center underline short far">{% trans %}Hello World!{% endtrans %}</h1>
            <div class="v-space-short text-center">
                <p>{% trans %}This is a sample demonstration page for your project.{% endtrans %}</p>
                {% if page_lang.code not in ['fr_FR'] %}<p>There is also a <a href="fr_FR/index.html">French version</a></p>{% endif %}
            </div>
        </div>
    </div>
{%- endblock content %}
